.meals {
  max-width: 65rem;
  width: 90%;
  margin: 0 auto 2rem;
  animation: meals-appear 1s ease-out forwards;
}

.meals h2 {
  color: var(--white);
  text-align: center;
  margin-bottom: 2rem;
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 8px;
  margin-top: 0;
}

.meals ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(22.8rem, 1fr));
  gap: 2rem;
}

.MealsLoading {
  text-align: center;
  color: var(--white);
  font-size: 2rem;
}

.MealsError {
  text-align: center;
  color: var(--clr-secondary);
  font-size: 2rem;
}

@keyframes meals-appear {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
