.form {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.form button {
  font: inherit;
  cursor: pointer;
  background-color: var(--black);
  border: 1px solid var(--black);
  color: var(--white);
  padding: 0.25rem 2rem;
  border-radius: 20px;
  font-weight: bold;
  margin-left: 0.5rem;
}

.form button:hover,
.form button:active {
  background-color: var(--white);
  color: var(--black);
}

.form .controlBtn {
  background-color: var(--white);
  border: 1px solid var(--black);
  border-radius: 4rem;
  padding: 0;
  color: var(--black);
  width: 1.5rem;
  height: 1.5rem;
  margin: 0;
}
