@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700&display=swap");

:root {
  --clr-accent: rgb(240, 129, 26);
  --clr-secondary: rgb(205, 41, 8);
  --black: #000000;
  --white: #ffffff;

  --ffPrimary: "Nunito Sans", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: var(--ffPrimary);
}

body {
  margin: 0;
  background-color: var(--black);
  color: var(--textClr);
}

.logo {
  height: 1.8rem;
  width: auto;
  position: relative;
  margin-top: -8px;
}

.logo path {
  fill: var(--clr-accent);
}
